/* GERAL */

@font-face {
  font-family: Roboto;
  src: url(fontes/Roboto-Regular.ttf);
}

body {
  background-color: #F8B134;
}

#body {
  background: #F8B134;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0; 
  margin: 0;
  font-family: Roboto;
}

/* BARRA DE NAVEGAÇÃO */

.navbar {
  margin: 1%;
  margin-left: 2%;
  margin-right: 2%;
  height: 60px;
  border-radius: 100px;
}

#navbar #logo_texto {
  margin-left: 2%;
  margin-right: 63%;
}

#navbar #logo_texto img {
  margin-right: 10%;
}

#navbar .nav-link {
  color: black;
  font-weight: 600;
}

#inicio {
  text-decoration: underline;
}

/* RODA PÉ */

.roda-pe {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: whitesmoke;
  text-align: center;
  margin-top: 1%;
}
  
.roda-pe h1 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 1%;
  margin-bottom: 1%;
}
  
.roda-pe #logo-roda-pe {
  width: 50px;
  height: 50px;
  margin-top: 1%;
  margin-right: -13%;
}
  
.roda-pe #copyright {
  color: lightgray;
  font-weight: 500;
  margin-top: 0;
}
  
.roda-pe .contato {
  float: right;
  margin: 1%;
  margin-right: 5%;
  color: lightgray;
  font-size: 20pt;
}
  
.roda-pe .contato #ig-icon #fb-icon #yt-icon {
  padding: 10px;
}
  
/* FIM RODA PÉ */

/* CURSOS */

.cursos h1 {
  font-size: 70px;
  font-weight: 600;
  margin-left: 4%;
}

/* :LOGOS */

.cursos .logos {
  background-color: #f8f8f8;
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 5%;
  display: flex;
}

.logos .texto {
  line-height: 200%;
}

.logos .imagem {
  width: 400px;
  background: url(imagens/1.jpg);
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
}

.logos .imagem button {
  background: #E90303;
  border-radius: 2px;
  padding-left: 10%;
  padding-right: 10%;
  font-weight: 600;
  font-size: 15pt;
  margin-top: 400px;
}

.logos .texto li {
  padding: 2%;
}

.logos .texto li:not(:last-child) {
  padding-bottom: 1%;
}

/* :CRONOS */

.cursos .cronos {
  background-color: #f8f8f8;
  margin-left: 7%;
  margin-right: 7%;
  margin: 5%;
  display: flex;
}

.cronos .texto {
  line-height: 200%;
}

.cronos .imagem {
  width: 400px;
  background: url(imagens/1.jpg);
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
}

.cronos .imagem button {
  background: #E90303;
  border-radius: 2px;
  padding-left: 10%;
  padding-right: 10%;
  font-weight: 600;
  font-size: 15pt;
  margin-top: 400px;
}

.cronos .texto li {
  padding: 2%;
}

.cronos .texto li:not(:last-child) {
  padding-bottom: 1%;
}

/* :SUNTZU */

.cursos .suntzu {
  background-color: #f8f8f8;
  margin-left: 7%;
  margin-right: 7%;
  display: flex;
}

.suntzu .texto {
  line-height: 200%;
}

.suntzu .imagem {
  width: 400px;
  background: url(imagens/1.jpg);
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
}

.suntzu .imagem button {
  background: #E90303;
  border-radius: 2px;
  padding-left: 10%;
  padding-right: 10%;
  font-weight: 600;
  font-size: 15pt;
  margin-top: 400px;
}

.suntzu .texto li {
  padding: 2%;
}

.suntzu .texto li:not(:last-child) {
  padding-bottom: 1%;
}
