/* GERAL */

@font-face {
    font-family: Roboto;
    src: url(fontes/Roboto-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: #F8B134 !important;
    font-family: Roboto;
}

/* FIM GERAL */

/* CADASTRO AULA */

.area-cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.titulo-cadastro {
    margin: 2%;
}

.cadastro {
    text-align: center; /* Align form fields to the center */
    max-width: 25%;
    max-height: 100%;
    background-color: whitesmoke;
    border-radius: 10px;
}

/* Style for form labels and inputs */
.form-group {
    margin: 10px; /* Add spacing between label-input pairs */
    text-align: left; /* Align only the labels to the left */
}

label {
    display: block;
    font-weight: normal;
}

input[type="text"],
textarea,
input[type="file"] {
    width: 100%;
    padding: 5px;
    background-color: whitesmoke;
    border: none;
    border-bottom: 2px solid black; /* Add a border to the bottom of input fields */
    transition: background-color 0.3s, border-bottom 0.3s; /* Add a smooth transition effect */
}

/* Apply styling when input fields are in focus */
input[type="text"]:focus,
textarea:focus,
input[type="file"]:focus {
    background-color: whitesmoke; /* Change the background color when in focus */
    border-bottom: 2px solid black; /* Change the border color when in focus */
    outline: none; /* Remove the default focus outline */
}

input[type="submit"] {
    width: 70%;
    padding: 10px;
    margin: 10px;
    background-color: #14110f;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

/* FIM CADASTRO AULA */