/* GERAL */

* {
  margin: 0;
  padding: 0;
}

body {
  background: #F8B134 !important;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

/* FIM GERAL */

/* BARRA DE NAVEGAÇÃO */

#navbar {
height: 60px !important;
width: 100% !important;
background-color: #dde4f4 !important;
}

#navbar #logo_texto {
margin-left: 2%;
margin-right: 57%;
font-weight: bold;
}

#navbar #logo_texto img {
margin-right: 10%;
}

#navbar .nav-link {
color: black;
font-weight: 600;
}

/* RODA PÉ */

.rodape {
  background-color: #dde4f4;
  text-align: center;
  margin-top: 20%;
  font-size: 10pt;
  margin-bottom: -2%;
}

.roda-pe h1 {
  font-size: 17pt;
  font-weight: 600;
  margin-top: 1%;
  margin-bottom: 1%;
}
  
.roda-pe #logo-roda-pe {
  width: 50px;
  height: 50px;
  margin-top: 1%;
  margin-right: -13%;
}
  
.roda-pe #copyright {
  color: #F8B134;
  font-weight: 500;
  margin-top: 0;
}
  
.roda-pe .contato {
  float: right;
  margin: 1%;
  margin-right: 5%;
  color: #F8B134;
  font-size: 20pt;
}
  
.roda-pe .contato #ig-icon #fb-icon #yt-icon {
  padding: 10px;
}
  
/* FIM RODA PÉ */

/* CABEÇALHO */

header {
  background: #dde4f4;
}

header .titulo {
  font-weight: bold;
  margin-left: 6%;
  padding-bottom: 1%;
}

/* FIM CABEÇALHO */

/* INICIO CADASTRO */

.botao-cadastro {
  margin-top: 3%;
  justify-content: center;
  display: flex;
  font-size: 20pt;

}

.botao-cadastro a {
  color: black;
  font-size: 25pt;
  text-decoration: none;
  font-weight: bold;
}

/* FIM CADASTRO */

/* AULAS */

details > summary {
  padding: 13px;
  background-color: #F8B134;
  box-shadow: 3px 3px 2px rgb(58, 58, 58);
  cursor: pointer;
}

details > p {
  background-color: #F8B134;
  padding: 1%;
  margin: 0;
  border-bottom: 2px solid #ad7b24;
}

.aula {
  margin: 1%;
}


/* FIM AULAS */