/* GERAL */

@font-face {
    font-family: Roboto;
    src: url(fontes/Roboto-Regular.ttf);
}

body {
  background: #F8B134 !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  font-family: Roboto !important;
}

/* BARRA DE NAVEGAÇÃO */

.navbar {
  margin: 1%;
  margin-left: 2%;
  margin-right: 2%;
  height: 60px;
  border-radius: 100px;
}

#navbar #logo_texto {
  margin-left: 2%;
  margin-right: 63%;
}

#navbar #logo_texto img {
  margin-right: 10%;
}

#navbar .nav-link {
  color: black;
  font-weight: 600;
}

#inicio {
  text-decoration: underline;
}

/* RODA PÉ */

.rodape {
  background-color: whitesmoke;
  text-align: center;
  margin-top: 2%;
  font-size: 10pt;
}

.roda-pe h1 {
  font-size: 17pt;
  font-weight: 600;
  margin-top: 1%;
  margin-bottom: 1%;
}
  
.roda-pe #logo-roda-pe {
  width: 50px;
  height: 50px;
  margin-top: 1%;
  margin-right: -13%;
}
  
.roda-pe #copyright {
  color: lightgray;
  font-weight: 500;
  margin-top: 0;
}
  
.roda-pe .contato {
  float: right;
  margin: 1%;
  margin-right: 5%;
  color: lightgray;
  font-size: 20pt;
}
  
.roda-pe .contato #ig-icon #fb-icon #yt-icon {
  padding: 10px;
}
  
/* FIM RODA PÉ */

  /* SOBRE NÓS */

.area {
  margin-top: 5%;
  left: 50%;
  display: flex;
  margin-left: 25%;
}
  
.area-sobre-nos {
  display: flex;
}
  
.area .area-sobre-nos .texto {
  width: 60%;
  margin-right: 1%;
}

.area .area-sobre-nos .texto h1 {
  font-weight: bolder;
}
  
.area .area-sobre-nos .imagem {
  width: 120%;
}

/* :Sobre nós */

.sobre_nos {
  margin-top: 3%;
  border: 2px solid black;
  display: flex;
  background: whitesmoke;
  margin-bottom: 2%;
}

.sobre_nos .titulo {
  width: 80%;
  background-color: #0F0F0F;
  color: whitesmoke;
  font-size: 25pt;
  display: flex;
  align-items: center;
  padding: 2%;
}

.sobre_nos .texto {
  margin: 1%;
}

  /* FIM SOBRE NÓS */

/* EQUIPE */

.equipe {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%; /* Adjust as needed */
  margin-bottom: 2%;
}

.mary, .igor, .fulano {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px; /* Adjust spacing between individuals */
}

.equipe .imagem {
  width: 100px; /* Adjust image width */
  height: 100px; /* Adjust image height */
  background-color: lightgray; /* Placeholder color */
  border-radius: 50%;
}

.nome {
  margin-top: 10px; /* Adjust spacing between image and name */
  text-align: center;
}

/* FIM EQUIPE */