@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

details > summary {
    padding: 13px;
    background-color: #F8B134;
    box-shadow: 2px 2px 0px black;
    cursor: pointer;
  }
  
details > p {
    background-color: #F8B134;
    padding: 1%;
    margin: 0;
    border-bottom: 2px solid #ad7b24;
  }

.aula {
    margin: 2%;
}