/* GERAL */

@font-face {
  font-family: Roboto;
  src: url(fontes/Roboto-Regular.ttf);
}

* {
margin: 0;
padding: 0;
}

body {
background: #F8B134 !important;
font-family: Roboto;
}

/* FIM GERAL */

/* BARRA DE NAVEGAÇÃO */

.navbar {
  background-color: whitesmoke;
  margin: 1%;
  border-radius: 100px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  width: 50px;
  height: 50px;
  margin-right: 900px; /* Adjusted */
  display: flex;
  align-items: center;
}

.navbar-logo img {
  margin-right: 5px;
}

.lista-menu .menu-items {
  margin-top: 5%;
  font-size: 11.5pt;
  font-weight: bold;
  display: flex;
  list-style: none;
  padding: 0;
  margin-left: auto; /* Added */
}

.lista-menu .menu-items li {
  margin-right: 10px;
}

.lista-menu .menu-items li a {
  color: black;
  text-decoration: none;
}

#atual {
  text-decoration: underline !important;
}

/* FIM BARRA DE NAVEGAÇÃO */

/* INICIO CADASTRO */

.area-alunos h1 {
  font-size: 40pt;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 5%;
  color: black;
  font-weight: bold;
}

.botao-cadastro {
  justify-content: center;
  display: flex;
  font-size: 20pt;

}

.botao-cadastro a {
  color: black;
  font-size: 25pt;
  text-decoration: none;
}

.botao-cadastro a:hover {
  color: black;
  font-size: 25pt;
  text-decoration: none;
}

/* FIM CADASTRO */

/* INICIO ALUNOS */

.table tr, table th, table td {
  border: 2px solid black;
  text-align: center;
  background-color: whitesmoke;
}

.table {
  background-color: whitesmoke;
}

.mudar {
  width: 100%;
  text-align: center;
}

/* FIM ALUNOS */

/* RODA PÉ */

.rodape {
  background-color: whitesmoke;
  text-align: center;
  margin-top: 11%;
  font-size: 10pt;
  margin-bottom: -2%;
}

.roda-pe h1 {
  font-size: 17pt;
  font-weight: 600;
  margin-top: 2%;
}
  
.roda-pe #logo-roda-pe {
  width: 50px;
  height: 50px;
  margin-top: 1%;
  margin-right: -13%;
}
  
.roda-pe #copyright {
  color: lightgray;
  font-weight: 500;
  margin-top: 0;
  padding-bottom: 1%;
}
  
.roda-pe .contato {
  float: right;
  margin: 1%;
  margin-right: 5%;
  color: lightgray;
  font-size: 20pt;
}
  
.roda-pe .contato #ig-icon #fb-icon #yt-icon {
  padding: 10px;
}
  
/* FIM RODA PÉ */