/* GERAL */
* {
    padding: 0;
    margin: 0;
}

body {
    background: #F8B134 !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

/* FIM GERAL */

/* ALTERAR */

.area {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alterar {
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 10px;
}

/* FIM ALTERAR */