/* GERAL */

@font-face {
    font-family: Roboto;
    src: url(fontes/Roboto-Regular.ttf);
}

.body {
  background: #F8B134;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0; 
  margin: 0;
  font-family: Roboto;
}

/* BARRA DE NAVEGAÇÃO */

.navbar {
  margin: 1%;
  margin-left: 2%;
  margin-right: 2%;
  height: 60px;
  border-radius: 100px;
}

#navbar #logo_texto {
  margin-left: 2%;
  margin-right: 57%;
}

#navbar #logo_texto img {
  margin-right: 10%;
}

#navbar .nav-link {
  color: black;
  font-weight: 600;
}

#inicio {
  text-decoration: underline;
}

/* RODA PÉ */

.roda-pe {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: whitesmoke;
  text-align: center;
  }
  
  .roda-pe h1 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 1%;
  margin-bottom: 1%;
  }
  
  .roda-pe #logo-roda-pe {
  width: 50px;
  height: 50px;
  margin-top: 1%;
  margin-right: -13%;
  }
  
  .roda-pe #copyright {
  color: lightgray;
  font-weight: 500;
  margin-top: 0;
  }
  
  .roda-pe .contato {
  float: right;
  margin: 1%;
  margin-right: 5%;
  color: lightgray;
  font-size: 20pt;
  }
  
  .roda-pe .contato #ig-icon #fb-icon #yt-icon {
  padding: 10px;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: #F8B134;
    text-align: center;
  }
  
  /* FIM RODA PÉ */

  /* SOBRE NÓS */

.area {
  margin-top: 5%;
  left: 50%;
  display: flex;
  margin-left: 25%;
}
  
.area-sobre-nos {
  display: flex;
}
  
.area .area-sobre-nos .texto {
  width: 60%;
  margin-right: 1%;
}

.area .area-sobre-nos .texto h1 {
  font-weight: bolder;
}
  
.area .area-sobre-nos .imagem {
  width: 120%;
}

/* :Sobre nós */

.sobre_nos {
  margin-top: 3%;
  border: 2px solid black;
  display: flex;
  background: whitesmoke;
  margin-bottom: 2%;
}

.sobre_nos .titulo {
  width: 80%;
  height: 100px;
  transform: rotate(-90deg);
  background-color: #0F0F0F;
  color: whitesmoke;
  font-size: 25pt;
  display: flex;
  align-items: center;
}

.sobre_nos .texto {
  margin: 1%;
}

  /* FIM SOBRE NÓS */